<!DOCTYPE html>
<html lang="en">
<% include ./layout/head %>
<body>
    <% include ./layout/body %>

        


        <div class="card small">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="images/299px-IEEE_logo.svg.png">
      <span class="card-title">some Title</span>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">ieee ksit<i class="material-icons right">more_vert</i></span>

    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">ieee ksit<i class="material-icons right">close</i></span>
      <p>some more stuff</p>
    </div>
  </div>
  <div class="card small">
<div class="card-image waves-effect waves-block waves-light">
<img class="activator" src="images/50_year_logo.png">
<span class="card-title">r10</span>
</div>
<div class="card-content">
<span class="card-title activator grey-text text-darken-4">ieee region 10<i class="material-icons right">more_vert</i></span>

</div>
<div class="card-reveal">
<span class="card-title grey-text text-darken-4">ieee r10<i class="material-icons right">close</i></span>
<p>shreyas's content</p>
</div>
</div>
<div class="card small">
<div class="card-image waves-effect waves-block waves-light">
<img class="activator" src="images/299px-IEEE_logo.svg.png">
<span class="card-title">some Title</span>
</div>
<div class="card-content">
<span class="card-title activator grey-text text-darken-4">ieee bangalore<i class="material-icons right">more_vert</i></span>

</div>
<div class="card-reveal">
<span class="card-title grey-text text-darken-4">ieee ksit<i class="material-icons right">close</i></span>
<p>some more stuff</p>
</div>
</div>
    <% include ./layout/tail %>

  </body>
</html>
