<!DOCTYPE html>
<html lang="en">
<% include ./layout/head %>
<body>
    <% include ./layout/body %>


    <div class="col s12 m6 l2 left">
              <div class="card hoverable">
                <div class="card-image">
                  <img src="images/facebook-default-no-profile-pic.jpg" class="circular" height="50px">
                  <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                  <p>I am a very simple card. I am good at containing small bits of information.
                  I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                  <a href="#">This is a link</a>
                </div>
              </div>
      </div>


    <% include ./layout/tail %>

  </body>
</html>
