
<nav>
  <header>
   <nav class="top-nav blue dar">
     <div class="container ">
       <div class="nav-wrapper  center"><a href="#" data-activates="slide-out" class="button-collapse hide-on-large-only"><i class="material-icons whites medium">menu</i></a><a class="page-title  brand-logo"> <%= title %></a></div>
     </div>
   </nav>
   <div class="container"></div>
   <ul id="nav-mobile" class="side-nav fixed">


     <li class="bold"><a href="/" class="waves-effect waves-teal">Home</a></li>
     <li class="bold"><a href="/about" class="waves-effect waves-teal">about</a></li>
     <li class="bold"><a href="/execom" class="waves-effect waves-teal">execom</a></li>
     <li class="bold"><a href="/events" class="waves-effect waves-teal">events</a></li>

   </ul>
   <div class="mobile-nav">
    <ul id="slide-out" class="side-nav" ng-controller="menu">

      <li class="waves-effect center-align list"><a href="/" class="waves-effect waves-teal">Home</a></li>
      <li class="waves-effect center-align list"><a href="/about" class="waves-effect waves-teal">about</a></li>
      <li class="waves-effect center-align list"><a href="/execom" class="waves-effect waves-teal">execom</a></li>
      <li class="waves-effect center-align list"><a href="/events" class="waves-effect waves-teal">events</a></li>
      </ul>

  </div>
 </header>
    </div>
  </nav>
  <div id="biggbox"> </div>
  <main>


  <div class="container content right">
